/* Contact Page Styling */
.contact-page {
    padding: 2rem;
    color: #333;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .contact-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .contact-header h1 {
    font-size: 2.5rem;
    color: #007bff;
  }
  
  .contact-header p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .contact-info {
    margin-bottom: 2rem;
  }
  
  .contact-info h2, .contact-info h3 {
    color: #0056b3;
  }
  
  .contact-info p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
  }
  
  .contact-form {
    margin-top: 2rem;
    padding: 20px; /* Add padding for better spacing */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
 
  
  .contact-form h2 {
    color: #007bff;
  }
  
  .form-group {
    margin-bottom: 1rem;
    color: aqua;

  }
  
  .form-group label {
    color: rgb(52, 56, 60);
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input,
  .form-group textarea {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 18px;
    font-size: 1rem;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 100px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  